@font-face {
    font-family: "DBOzone";
    src: url('https://raw.githubusercontent.com/cpx2017/dbozoneFont/main/Fonts/DBOzoneXLiItv3.2.ttf') format("truetype");
    src: url('https://raw.githubusercontent.com/cpx2017/dbozoneFont/main/Fonts/DBOzoneXLiv3.2.ttf') format("truetype");
    src: url('https://raw.githubusercontent.com/cpx2017/dbozoneFont/main/Fonts/DBOzoneXMedItv3.2.ttf') format("truetype");
    src: url('https://raw.githubusercontent.com/cpx2017/dbozoneFont/main/Fonts/DBOzoneXMedv3.2.ttf') format("truetype");
    src: url('https://raw.githubusercontent.com/cpx2017/dbozoneFont/main/Fonts/DBOzoneXUlLiItv3.2.ttf') format("truetype");
    src: url('https://raw.githubusercontent.com/cpx2017/dbozoneFont/main/Fonts/DBOzoneXUlLiv3.2.ttf') format("truetype");
    src: url('https://raw.githubusercontent.com/cpx2017/dbozoneFont/main/Fonts/DBOzoneXv3.2.ttf') format("truetype");
  }
  body {
    font-family: 'DBOzone', sans-serif !important;
  }
  body {
    font-size: 20px;
  }
  @media screen and (min-width: 320px) {
    body {
      font-size: calc(20px + 4 * ((100vw - 320px) / 880)) !important;
    }
  }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 24px !important;
    }
  }